/**
 * Custom Prism theme based on WebStorm.
 */

:root {
  --prism-font: #080808;
  --prism-string: #067d17;
  --prism-comment: #8c8c8c;
  --prism-function: #7a7a43;
  --prism-keyword: #ad6339;
  --prism-number: #1750eb;
  --prism-property: #871094;
  --prism-regex: #264eff;
  --prism-tag: #0033b3;

  &[data-theme='dark'] {
    --prism-font: #bcbec4;
    --prism-string: #6aab73;
    --prism-comment: #7a7e85;
    --prism-function: #56a8f5;
    --prism-keyword: #cf8e6d;
    --prism-number: #2aacb8;
    --prism-property: #c77dbb;
    --prism-regex: #42c3d4;
    --prism-tag: #d5b778;
  }
}

code[class*='language-'] {
  color: var(--prism-font);
}

.token {
  &.attr-name,
  &.punctuation,
  &.operator,
  &.doctype .token.name {
    color: var(--prism-font);
  }

  &.attr-value,
  &.string {
    color: var(--prism-string);
  }

  &.comment {
    color: var(--prism-comment);
  }

  &.function {
    color: var(--prism-function);
  }

  &.keyword,
  &.rule {
    color: var(--prism-keyword);
  }

  &.number {
    color: var(--prism-number);
  }

  &.property {
    color: var(--prism-property);
  }

  &.regex {
    color: var(--prism-regex);
  }

  &.doctype,
  &.tag {
    color: var(--prism-tag);
  }
}

/* Language overwrites */

code[class='language-css'] {
  color: var(--prism-string);

  .token.property {
    color: var(--prism-font);
  }

  .token.selector {
    color: var(--prism-tag);
  }
}
