:host {
  display: block;
  width: 15rem;
  height: 15rem;
}

* {
  box-sizing: border-box;
}

.🐸 {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
  border: 0.3rem solid var(--color-highlight);
  border-radius: 50%;
  overflow: hidden;
}

.🐸 img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
